<div class="row">
	<div class="col-sm-12">
		<h1>Create Location</h1>
	</div>
</div>
<alert>
</alert>
<form ng-submit="submit()" name="locationForm">
	<div class="form-group">
		<div class="row">
			<div class="col-sm-8">
				<label for="description">Description</label>
				<input type="text" class="form-control" ng-model="location.description" name="description" placeholder="Description" required ng-maxlength="1000">
			</div>
			<div role="alert" class="validator col-sm-4">
				<span class="error bg-danger" ng-show="locationForm.description.$error.required">Required</span>
				<span class="error bg-danger" ng-show="locationForm.description.$error.maxlength">Max 100 characters</span>
			</div>
		</div>
	</div>
	<div class="form-group">
		<div class="row">
			<div class="col-sm-8">
				<label for="latitude">Latitude</label>
				<input type="text" class="form-control" ng-model="location.latitude" name="latitude" placeholder="0.00" required ng-pattern="/^[-+]?([1-8]?\d(\.\d+)?|90(\.0+)?)$/">
			</div>
			<div role="alert" class="validator col-sm-4">
				<span class="error bg-danger" ng-show="locationForm.latitude.$error.required">Required</span>
				<span class="error bg-danger" ng-show="locationForm.latitude.$error.pattern">Illegal latitude</span>
			</div>
		</div>
	</div>
	<div class="form-group">
		<div class="row">
			<div class="col-sm-8">
				<label for="longitude">Longitude</label>
				<input type="text" class="form-control" ng-model="location.longitude" name="longitude" placeholder="0.00" required ng-pattern="/^[-+]?(180(\.0+)?|((1[0-7]\d)|([1-9]?\d))(\.\d+)?)$/">
			</div>
			<div role="alert" class="validator col-sm-4">
				<span class="error bg-danger" ng-show="locationForm.longitude.$error.required">Required</span>
				<span class="error bg-danger" ng-show="locationForm.longitude.$error.pattern">Illegal longitude</span>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-8 text-right">
			<button type="submit" class="btn btn-primary">Save</button>
			<button type="button" class="btn btn-secondary" ng-click="cancel()">Cancel</button>
		</div>
	</div>
</form>
<loading></loading>