<h1>Create User</h1>

<alert>
</alert>

<form ng-submit="submit()" name="userForm">
	<h2>Sign-on Information</h2>
	<div class="form-group">
		<div class="row">
			<div class="col-sm-8">
				<label for="userName">User Name</label>
				<input type="text" class="form-control" ng-model="user.userName" name="userName" placeholder="Username" required>
			</div>
			<div role="alert" class="validator col-sm-4">
				<span class="error bg-danger" ng-show="userForm.userName.$error.required">Required</span>
			</div>
		</div>
	</div>
	
	<div class="form-group">
		<div class="row">
			<div class="col-sm-8">
				<label for="password">Password</label>
				<input type="password" class="form-control" ng-model="user.password" name="password" placeholder="" required ng-pattern="/((?=.*\d){6,50})/">
			</div>
			<div role="alert" class="validator col-sm-4">
				<span class="error bg-danger" ng-show="userForm.password.$error.required">Required</span>
				<span class="error bg-danger" ng-show="userForm.password.$error.pattern">Must contain at least one digit and be 6 to 50 characters</span>
			</div>
		</div>
	</div>
	
	<h2>Name</h2>
	<div class="form-group">
		<div class="row">
			<div class="col-sm-8">
				<label for="givenName">Given / First Name</label>
				<input type="text" ng-model="user.givenName" class="form-control" name="givenName" placeholder="First Name" ng-maxlength="50"
				required>
			</div>
			<div role="alert" class="validator col-sm-4">
				<span class="error bg-danger" ng-show="userForm.givenName.$error.required">Required</span>
				<span class="error bg-danger" ng-show="userForm.givenName.$error.maxlength">Max 50 characters</span>
			</div>
		</div>
	</div>
	<div class="form-group">
		<div class="row">
			<div class="col-sm-8">
				<label for="familyName">Family / Last Name</label>
				<input type="text" ng-model="user.familyName" class="form-control" name="familyName" placeholder="Last Name" ng-maxlength="50"
				required>
			</div>
			<div role="alert" class="validator col-sm-4">
				<span class="error bg-danger" ng-show="userForm.familyName.$error.required">Required</span>
				<span class="error bg-danger" ng-show="userForm.familyName.$error.maxlength">Max 50 characters</span>
			</div>
		</div>
	</div>
	
	<h2>Contact Information</h2>
	<div class="form-group">
		<div class="row">
			<div class="col-sm-8">
				<label for="email">E-mail Address</label>
				<div class="input-group">
					<span class="input-group-addon">@</span>
					<input type="email" ng-model="user.email" class="form-control" name="email" placeholder="E-mail Address" ng-maxlength="256"
					required>
				</div>
			</div>
			<div role="alert" class="validator col-sm-4">
				<span class="error bg-danger" ng-show="userForm.email.$error.required">Required</span>
				<span class="error bg-danger" ng-show="userForm.email.$error.email">Invalid e-mail address</span>
				<span class="error bg-danger" ng-show="userForm.email.$error.maxlength">Max 256 characters</span>
			</div>
		</div>
	</div>
	<div class="form-group">
		<div class="row">
			<div class="col-sm-8">
				<label for="primaryPhoneNumber">Primary Phone Number</label>
				<div class="input-group">
					<span class="input-group-addon">#</span>
					<input type="text" ng-model="user.primaryPhoneNumber" class="form-control" name="primaryPhoneNumber" placeholder="Primary Phone Number" ng-pattern="/^(\+\d{1,2}\s)?\(?\d{3}\)?[\s.-]?\d{3}[\s.-]?\d{4}$/"
					required>
				</div>
			</div>
			<div role="alert" class="validator col-sm-4">
				<span class="error bg-danger" ng-show="userForm.primaryPhoneNumber.$error.required">Required</span>
				<span class="error bg-danger" ng-show="userForm.primaryPhoneNumber.$error.pattern">Invalid phone number</span>
			</div>
		</div>
	</div>
	<div class="form-group">
		<div class="row">
			<div class="col-sm-8">
				<label for="secondaryPhoneNumber">Secondary Phone Number</label>
				<div class="input-group">
					<span class="input-group-addon">#</span>
					<input type="text" ng-model="user.secondaryPhoneNumber" class="form-control" name="secondaryPhoneNumber" placeholder="Secondary Phone Number" ng-pattern="/^(\+\d{1,2}\s)?\(?\d{3}\)?[\s.-]?\d{3}[\s.-]?\d{4}$/">
				</div>
			</div>
			<div role="alert" class="validator col-sm-4">
				<span class="error bg-danger" ng-show="userForm.secondaryPhoneNumber.$error.pattern">Invalid phone number</span>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-8 text-right">
			<input type="hidden" value="{{user.userId}}">
			<button type="submit" class="btn btn-primary">Save</button>
			<button type="button" class="btn btn-secondary" ng-click="cancel()">Cancel</button>
		</div>
	</div>
</form>



<loading></loading>