<div class="modal-header">
	<h2>Edit Work Type</h2>
	<p><span class="text-danger">*</span> indicates a required field.</p>
</div>
<form ng-submit="submit()" name="workTypeForm" class="form-horizontal">
	<div class="modal-body">
		<alert>
		</alert>
		<div class="form-group">
			<label for="description" class="col-sm-3 control-label">Description <span class="text-danger">*</span></label>
			<div class="col-sm-9" ng-class="{'has-error': workTypeForm.description.$error.required || workTypeForm.description.$error.maxlength}">
				<input type="text" class="form-control" ng-model="worktype.description" name="description"
				placeholder="max length 100 characters" required ng-maxlength="100">
			</div>
			<div role="alert" class="col-sm-9 col-sm-offset-3">
				<span class="error" ng-show="workTypeForm.description.$error.maxlength">Max 100 characters</span>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<input type="hidden" name="id" ng-model="worktype.id"></input>
		<button type="submit" ng-disabled="workTypeForm.$invalid" class="btn btn-primary">Save</button>
		<button type="button" class="btn btn-warning" ng-click="cancel()">Cancel</button>
	</div>
</form>
<loading></loading>