<h1>Workday Logging</h1>

<alert>
</alert>

<form ng-submit="submit()" name="workdayForm">

    <!-- TODO: need to pull the userid from jwt -->
    <!-- when adding time, try adding next to the Date. Just use smaller columns. -->

    <div class="form-group">
        <div class="row">
            <div class="col-sm-8">
                <label for="workDate">Date</label>
                <div class="input-group">
                    <input type="text" name="workDate" class="form-control" uib-datepicker-popup="{{format}}" ng-model="workday.workDate" is-open="status.opened"
                    datepicker-options="dateOptions" ng-required="true" close-text="Close" placeholder="{{today}}" date />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
                    <p class="clearfix">
                    {{workday.workDate | date:'fullDate' }}
                    </p>
            </div>
            <div role="alert" class="validator col-sm-4">
                <span class="error bg-danger" ng-show="workdayForm.workDate.$error.required">Required</span>
                <span class="error bg-danger" ng-show="workdayForm.workDate.$error.date">Invalid date</span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8 text-right">
            <button type="submit" class="btn btn-primary">Save</button>
            <button type="button" class="btn btn-secondary" ng-click="cancel()">Cancel</button>
        </div>
    </div>
</form>



<loading></loading>