<div class="panel-footer" ng-show="censusForm.step === 1">
    <div class="form-group">
        <div class="col-md-offset-8 col-md-4">     
            <input type="submit" class="btn btn-default" ng-click="censusForm.saveForLater=true" value="Save for Later">
            <input type="submit" class="btn btn-primary" ng-click="censusForm.saveAndMoveNext=true" value="Save &amp; Next &raquo;">
        </div>    
    </div>  
</div>
<div class="panel-footer" ng-show="censusForm.step === 2">
    <div class="form-group">
        <a role="button" class="btn btn-default col-md-offset-1 col-md-2" href="#/censusdata/create">&laquo; Step Back</a>             
        <div class="col-md-offset-5 col-md-4">     
            <input type="submit" class="btn btn-default" ng-click="censusForm.saveForLater=true" value="Save for Later">
            <input type="button" class="btn btn-default" ng-click="censusForm.saveForLater=true" value="Save for LaterQ">
            <input type="submit" class="btn btn-primary" ng-click="censusForm.saveAndMoveNext=true" value="Save &amp; Next &raquo;">
            
        </div>    
    </div>  
</div>
<div class="panel-footer" ng-show="censusForm.step === 3">
    <div class="form-group">
        <a role="button" class="btn btn-default col-md-offset-1 col-md-2" href="#/censusdata/create2">&laquo; Step Back</a>      
        <div class="col-md-offset-6 col-md-3">
            <input type="submit" class="btn btn-default" ng-click="censusForm.saveForLater=true" value="Save for Later">
            <input type="submit" class="btn btn-primary" ng-click="censusForm.saveAndFinish=true" value="Finish">
            
        </div>    
    </div>  
</div>