<div class="container">
    <div ng-include="'/app/views/censusdata/progressBar.html'"></div>
    {{censusForm.step = 3}}
    <form class="form-horizontal" role="form"> 
        <div class="form-group panel panel-primary">
            <div class="panel-heading">Disturbance<span style="float:right;">Report violations to 1-800-792-4263</span></div>
            <div class="panel-body">                          
            
            <div class="form-group">        
                <div class="col-md-12">
                    <!--<div>{{ 6/2 }}</div>-->
                    <table class="table table-striped">
                        <thead>
                            <tr class="info">
                                <th>Types</th>
                                <th>Quantity</th>
                                <th>Duration (nearest 5 minutes)</th>
                                <th>Result or Affect (observed behavior)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="(i, disturbance) in data.disturbanceTypeInfo track by $index ">
                                <td>{{disturbance.Description}}</td>
                                <td><input type="text" class="form-control" placeholder="Quantity" ng-model="censusForm.disturbanceData[i].Quantity" ng-change="setDisturbanceTypeId(i, disturbance.Id)"></td>
                                <td><input type="text" class="form-control" placeholder="Duration" ng-model="censusForm.disturbanceData[i].Duration"></td>
                                <td><input type="text" class="form-control" placeholder="Behaviour" ng-model="censusForm.disturbanceData[i].Behaviour"></td>
                            </tr>          
                        </tbody>
                    </table>
                </div>    
            </div>  
            <div class="form-group">
                <label class="control-label col-md-3" for="disturbanceComments">Comments:</label>
                <div class="col-md-9">
                    <textarea type="text" class="form-control" rows="5" id="disturbanceComments" placeholder="Enter Comments" ng-model="censusForm.disturbanceComments"></textarea>
                </div>    
            </div>          
            </div>    
            <div class="panel-footer">
            <div class="form-group">
                <a role="button" class="btn btn-primary col-md-3" href="#/censusdata/create2">&laquo; Step Back</a>      
                <div class="col-md-offset-7 col-md-2">
                    <input type="submit" class="btn btn-primary" value="Submit">
                </div>    
            </div>  
            </div>
        </div>  
    </form>
</div>