<div class="container">
    <div ng-include="'/app/views/censusdata/progressBar.html'"></div>
    {{censusForm.step = 3}}
    <form class="form-horizontal" role="form"> 
        <div class="form-group panel panel-primary">
            <div class="panel-heading">Disturbance<span style="float:right;">Report violations to 1-800-792-4263</span></div>
            <div class="panel-body">                          
            
            <div class="form-group">        
                <div class="col-md-12">
                    <div>{{ 6/2 }}</div>
                
                <table class="table table-condensed">
                    <thead>
                    <tr class="info">
                        <th>Species Name</th>
                        <th>No. of Adults</th>
                        <th>No. of Juvenile</th>
                        <th>Behavior: Primary Activity</th>
                        <th>Behavior: Secondary Activity</th>
                        <th>Location/ Habitat Type</th>
                        <th>% Feeding Success Rate</th>
                        <th></th><th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><input type="text" class="form-control" placeholder="Species Name"></td>
                        <td><input type="text" class="form-control" placeholder="No. of Adults"></td>
                        <td><input type="text" class="form-control" placeholder="No. of Juvenile"></td>
                        <td><input type="text" class="form-control" placeholder="Primary Activity"></td>
                        <td><input type="text" class="form-control" placeholder="Secondary Activity"></td>
                        <td><select id="habitatData" class="form-control" >
                            <option ng-repeat="habitat in habitatInfo" value="{{habitat.Id}}">{{habitat.Description}}</option>
                        </select></td>
                        <td><select id="feedingSuccess" class="form-control" >
                        <option ng-repeat="feed in feedingRateInfo" value="{{feed.Id}}">{{feed.Description}}</option>                  
                        </select></td>
                        <td><span class="glyphicon glyphicon-edit"></span></td>
                        <td><span class="glyphicon glyphicon-trash"></span></td>
                    </tr>        
                    <tr>
                        <td colspan="9">
                        <button type="submit" class="btn btn-primary">
                            <i class="glyphicon glyphicon-plus"></i> Add More
                        </button>
                        </td>
                    </tr>             
                    
                    </tbody>
                </table>
                </div>    
            </div>  
            <div class="form-group">
                <label class="control-label col-md-3" for="comments">Comments:</label>
                <div class="col-md-9">
                <textarea type="text" class="form-control" rows="5" id="comments" placeholder="Enter Comments" ng-model="censusForm.comments"></textarea>
                </div>    
            </div>          
            </div>    
            <div class="panel-footer">
            <div class="form-group">
                <a role="button" class="btn btn-primary col-md-3" href="#/censusdata/create2">&laquo; Step Back</a>      
                <div class="col-md-offset-7 col-md-2">
                    <input type="submit" class="btn btn-primary" value="Submit">
                </div>    
            </div>  
            </div>
        </div>  
    
    </form>
</div>