<div class="container">
    <div ng-include="'/app/views/censusdata/progressBar.html'"></div>
    {{censusForm.step = 3}}
    <form class="form-horizontal" ng-submit="submit()" role="form"> 
        <div class="form-group panel panel-primary">
            <div class="panel-heading">Disturbance</div>
                <div class="panel-body">
                    <div class="form-group">        
                        <div class="col-md-12">
                            <table class="table table-striped">
                                <thead>
                                    <tr class="info">
                                        <th>Types</th>
                                        <th>Quantity</th>
                                        <th>Duration (nearest 5 minutes)</th>
                                        <th>Result or Affect (observed behavior)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="(i, disturbance) in data.disturbanceTypeInfo track by $index ">
                                        <td>{{disturbance.Description}}</td>
                                        <td><input type="number" class="form-control" placeholder="Quantity" ng-model="censusForm.disturbances[i].quantity" ng-change="setDisturbanceTypeId(i, disturbance.Id)"></td>
                                        <td><input type="number" class="form-control" placeholder="Duration" ng-model="censusForm.disturbances[i].durationMinutes"></td>
                                        <td><input type="text" class="form-control" placeholder="Behavior" ng-model="censusForm.disturbances[i].behavior"></td>
                                    </tr>          
                                </tbody>
                            </table>
                        </div>    
                    </div>  
                    <div class="form-group">
                        <label class="control-label col-md-3" for="disturbanceComments">Comments:</label>
                        <div class="col-md-9">
                            <textarea type="text" class="form-control" rows="5" id="disturbanceComments" placeholder="Enter Comments" ng-model="censusForm.disturbanceComments"></textarea>
                        </div>    
                    </div>          
                </div>                
            <div ng-include="'/app/views/censusdata/bottomBar.html'"></div>
        </div>  
    </form>
</div>