<alert>
</alert>

<div class="row">
	<div class="col-sm-6 col-sm-offset-3" id="login">
		<form ng-submit="submit()" name="loginForm">
			<div class="form-group">
				<label for="userName">User Name</label>
				<input class="form-control" ng-model="userName" id="userName" placeholder="Enter your Username" required>
			</div>
			<div class="form-group">
				<label for="password">Password</label>
				<input type="password" ng-model="password" class="form-control" id="password" placeholder="Enter your password" required>
			</div>
			<button type="submit" ng-disabled="loginForm.$invalid" class="btn btn-primary">Sign In</button>
		</form>
	</div>
</div>

<loading></loading>