<div class="jumbotron text-center">
  <h2 class="lead">
    <img src="http://flightnode.github.io/images/FlightNode2.png" alt="FlightNode" style="border-radius: 12px; border: solid rgb(238, 238, 238)"><br>
    <span style="color: rgb(51, 51, 51); text-shadow: rgba(255, 255, 255, 0.5) 0px 1px 3px; font-size: 1.5em;">A Platform for Avian Conservation Monitoring</span>
  </h2>
</div>
<div class="row marketing">
  <p>This is a demo / reference implementation for the FlightNode project. You can learn more about
    the project at <a href="http://flightnode.github.io" title="Project home page">flightnode.github.io</a>.
</div>
